/*TAILWIND*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styling */
body {
  background-color: hsl(218, 23%, 16%);
  display: grid;
  place-content: center;
  font-family: "manrope", "poppins";
}
.center {
  height: 100vh;
  display: grid;
  place-content: center;
}

.cont {
  border-radius: 1rem;
  background-color: #323a49;
  max-width: 22rem;
  min-width: 22rem;
}

.advice {
  font-size: 1.5rem;
}

.advice-num {
  letter-spacing: 6px;
  font-size: small;
}

/*button*/
.copybtn {
  width: 60px;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  cursor: pointer;
  margin: 20px;
  height: 30px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.copybtn:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.copybtn:focus {
  outline: none;
}

.copybtn {
  background-image: linear-gradient(
    to right,
    hsl(150, 100%, 66%),
    #4481eb,
    #04befe,
    hsl(150, 74%, 42%)
  );
  box-shadow: 0 4px 15px 0 rgba(224, 236, 255, 0.75);
}

/*button dropdown effect*/
.c-text_dropdown {
  /* display: hidden; */
  background-color: #005c25;
  border-radius: 2rem;
}

.shape {
  width: 50px;
  height: 50px;
  margin-bottom: -7rem;
  margin-top: 0.5rem;
  border-radius: 100%;
  background-color: hsl(150, 100%, 66%);
  cursor: pointer;
}

.shape:hover {
  box-shadow: 0px 0px 20px hsl(150, 100%, 66%);
}

@media screen and (min-width: 900px) {
  .cont {
    min-width: 25rem;
  }
}
